body{
    font-family: 'Roboto', sans-serif;

    font-size: 15px;
    color: #333;
    margin: 0px;
    line-height: 1.6;
}
*{
    box-sizing: border-box;
}
*:before
*::after{
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

.container-2 {
    max-width: 700px;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}

.header{
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
}

.header_logo{
    font-size: 30px;
    font-weight: bolder;
    color: #000;
}
.header_inner{
    display: flex;
    justify-content:center;
    align-items: center;
}

.nav{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}
.nav_link{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 150px;
    margin: 0 40px;
    padding: 6px;
    border-radius: 15px;
    text-decoration: none;
    color: black;
    position: relative;
    background-color: aliceblue;
    transition: color 0.2s linear;
}

.active_nav_link{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 150px;
    margin: 0 40px;
    padding: 6px;
    border-radius: 15px;
    text-decoration: none;
    color: black;
    position: relative;
    background-color: rgb(243, 167, 52);
    transition: color 0.2s linear;
}

.nav_link:hover{
    color:white;
    background-color:rgb(243, 167, 52);
}

.active_nav_link:hover{
    color:white;
}


.main_part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: url("../img/dust_texture.png") center no-repeat;
    background-size: cover;
}

.btn-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.slidecontainer{
    
    font-weight: 700;
    color: aliceblue;
    width: 200px;
}

.slider{
    color: rgb(243, 167, 52);
    width: 200px;
}

.btn{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 150px;
    margin: 0 40px;
    padding: 6px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: 900;
    color: black;
    position: relative;
    background-color: aliceblue;
    transition: color 0.2s linear;
}


.btn:hover{
    color:white;
    background-color:rgb(243, 167, 52);
}

.dimChanger{
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    color: black;
    background-color: aliceblue;
    margin: 0 40px;
    padding: 6px;
    width: 35px;
    font-weight: 900px;
}

